body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

.pricing-features ul {
  padding: 0;
  margin: 0;
}

.pricing-features li {
  list-style: none;
  text-align: center;
  align-items: center;
  margin: 0;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 50%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: rgba(145, 145, 146, 0.466);
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}
